@font-face {
	font-family: 'Nunito Regular';
	font-style: normal;
	font-weight: normal;
	src: local('Nunito Regular'), url('../css/Nunito-Regular.woff') format('woff');
}
body{
	font-family: 'Nunito Regular';
	overflow-x: hidden !important;
}
h1, h2, h3, h4, h5, h6 {
	color: #272b41;
	font-weight: 500;
}

a {
	color: #2E3842;
}
a:hover {
	color: #0800ad;
}
a:hover,
a:active,
a:focus {
	outline: none;
	text-decoration: none;
}

input,
input:hover,
input:focus,
textarea {
	box-shadow: 0 0 0px 1000px white inset !important;
}
.alert-error{
	color: #fff;
	font-weight: bold;
	background: #28a745;
	display: none;
}
input,
button,
a {
	transition: all 0.4s ease;
}
button:focus {
	outline: 0;
}
input[type=text],
input[type=password] {
	appearance: none;
}
.btn.focus, .btn:focus {
	box-shadow: inherit;
}
.form-control {
	border-color: #dcdcdc;
	color: #333;
	font-size: 15px;
	min-height: 46px;
	padding: 6px 15px;
	box-shadow: none;
	resize: none;
}

.custom_check {
	color: #666;
	display: inline-block;
	position: relative;
	font-size: 14px;
	font-size: .9375rem;
	padding-left: 30px;
	margin-bottom: 10px;
	cursor: pointer;
	user-select: none;
}
.btn-custom{
	background: #0800ad;
	transition: .5s;
	border: 1px solid #0800ad;
	color: #fff;
}
.btn-custom:hover{
	background: #fff;
	color: #0800ad;
	box-shadow: 0 10px 30px 0 rgba(0,0,0,.2);
}
.custom_check input {
	position: absolute;
	opacity: 0;
	cursor: pointer
}
.custom_check input:checked ~ .checkmark {
	background-color: #fff;
}
.custom_check .checkmark {
	position: absolute;
	top: 0;
	left: 0;
	height: 20px;
	width: 20px;
	border: 1px solid #dcdcdc;
	background-color: #fff;
	border-radius: 3px;
	transition: all 0.3s ease-in-out
}
.custom_check .checkmark::after {
	content: "\f00c";
	font-family: "Font Awesome 5 Free";
	font-weight: 900;
	position: absolute;
	display: none;
	left: 4px;
	top: 0;
	color: #0800ad;
	font-size: 11px;
}
.custom_check input:checked ~ .checkmark:after {
	display: block
}


/*-----------------
	9. Slick Slider
	-----------------------*/

	.slick-slider {
		position: relative;
		display: block;
		box-sizing: border-box;
		user-select: none;
		touch-action: pan-y;
		tap-highlight-color: transparent;
	}
	.slick-list {
		position: relative;
		display: block;
		overflow: hidden;
		margin: 0;
		padding: 0;
	}
	.slick-list:focus {
		outline: none;
	}
	.slick-list.dragging {
		cursor: pointer;
	}
	.slick-slider .slick-track,
	.slick-slider .slick-list {
		transform: translate3d(0, 0, 0);
	}
	.slick-track {
		position: relative;
		top: 0;
		left: 0;
		display: block;
		margin-left: auto;
		margin-right: auto;
	}
	.slick-track:before,
	.slick-track:after {
		display: table;
		content: '';
	}
	.slick-track:after {
		clear: both;
	}
	.slick-loading .slick-track {
		visibility: hidden;
	}
	.slick-slide {
		display: none;
		float: left;
		height: 100%;
		min-height: 1px;
	}
	[dir='rtl'] .slick-slide {
		float: right;
	}
	.slick-slide img {
		display: block;
	}
	.slick-slide.slick-loading img {
		display: none;
	}
	.slick-slide.dragging img {
		pointer-events: none;
	}
	.slick-initialized .slick-slide {
		display: block;
	}
	.slick-loading .slick-slide {
		visibility: hidden;
	}
	.slick-vertical .slick-slide {
		display: block;
		height: auto;
		border: 1px solid transparent;
	}
	.slick-arrow.slick-hidden {
		display: none;
	}
	.slick-prev,
	.slick-next {
		font-size: 0;
		line-height: 0;
		position: absolute;
		top: 50%;
		display: block;
		width: 40px;
		height: 40px;
		padding: 0;
		transform: translate(0, -50%);
		box-shadow: 1px 6px 14px rgba(0,0,0,0.2);
		background: #fff;
		border-radius: 100%;	
		cursor: pointer;	
		border: none;
		outline: none;
		background: #fff;
	}
	.slick-prev:hover,
	.slick-prev:focus,
	.slick-next:hover,
	.slick-next:focus {
		background-color: #0de0fe;
		color: #fff;
		opacity: 1;
	}
	.slick-prev:hover:before,
	.slick-prev:focus:before,
	.slick-next:hover:before,
	.slick-next:focus:before {
		color: #fff;
		opacity: 1;
	}
	.slick-prev.slick-disabled:before,
	.slick-next.slick-disabled:before {
		opacity: .25;
	}
	.slick-prev:before,
	.slick-next:before {
		font-family: 'slick';
		font-size: 20px;
		line-height: 1;
		opacity: .75;
		color: #383838;
		-webkit-font-smoothing: antialiased;
	}
	.slick-prev {
		left: 0;
		z-index:1;
	}
	[dir='rtl'] .slick-prev {
		right: -25px;
		left: auto;
	}
	.slick-prev:before {
		content: '←';
	}
	[dir='rtl'] .slick-prev:before {
		content: '→';
	}
	.slick-next {
		right: 0;
	}
	[dir='rtl'] .slick-next {
		right: auto;
		left: -25px;
	}
	.slick-next:before {
		content: '→';
	}
	[dir='rtl'] .slick-next:before {
		content: '←';
	}


	.form-focus {
		height: 50px;
		position: relative;
	}
	.form-focus .focus-label {
		font-size: 14px;
		font-weight: 400;
		pointer-events: none;
		position: absolute;
		-webkit-transform: translate3d(0, 22px, 0) scale(1);
		-ms-transform: translate3d(0, 22px, 0) scale(1);
		-o-transform: translate3d(0, 22px, 0) scale(1);
		transform: translate3d(0, 22px, 0) scale(1);
		transform-origin: left top;
		transition: 240ms;
		left: 12px;
		top: -8px;
		z-index: 1;
		color: #b8b8b8;
		margin-bottom: 0;
	}
	.form-focus.focused .focus-label {
		opacity: 1;
		top: -18px;
		font-size: 12px;
		z-index: 1;
	}
	.form-focus .form-control:focus ~ .focus-label, 
	.form-focus .form-control:-webkit-autofill ~ .focus-label {
		opacity: 1;
		font-weight: 400;
		top: -18px;
		font-size: 12px;
		z-index: 1;
	}
	.form-focus .form-control {
		height: 50px;
		padding: 21px 12px 6px;
	}
	.form-focus .form-control::-webkit-input-placeholder {
		color: transparent;
		transition: 240ms;
	}
	.form-focus .form-control:focus::-webkit-input-placeholder {
		transition: none;
	}
	.form-focus.focused .form-control::-webkit-input-placeholder {
		color: #bbb;
	}
	.form-focus.select-focus .focus-label {
		opacity: 1;
		font-weight: 300;
		top: -20px;
		font-size: 12px;
		z-index: 1;
	}
	.form-focus .select2-container .select2-selection--single {
		border: 1px solid #e3e3e3;
		height: 50px;
	}
	.form-focus .select2-container--default .select2-selection--single .select2-selection__arrow {
		height: 48px;
		right: 7px;
	}
	.form-focus .select2-container--default .select2-selection--single .select2-selection__arrow b {
		border-color: #ccc transparent transparent;
		border-style: solid;
		border-width: 6px 6px 0;
		height: 0;
		left: 50%;
		margin-left: -10px;
		margin-top: -2px;
		position: absolute;
		top: 50%;
		width: 0;
	}
	.form-focus .select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b {
		border-color: transparent transparent #ccc;
		border-width: 0 6px 6px;
	}
	.form-focus .select2-container .select2-selection--single .select2-selection__rendered {
		padding-right: 30px;
		padding-left: 12px;
		padding-top: 10px;
	}
	.form-focus .select2-container--default .select2-selection--single .select2-selection__rendered {
		color: #676767;
		font-size: 14px;
		font-weight: normal;
		line-height: 38px;
	}
	.form-focus .select2-container--default .select2-results__option--highlighted[aria-selected] {
		background-color: #fc6075;
	}

/*-----------------
	11. Header
	-----------------------*/

	.header-nav {
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
		background-color: #fff;
		border: 0;
		border-bottom: 1px solid #f0f0f0;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;
		justify-content: space-between;
		-webkit-justify-content: space-between;
		-ms-flex-pack: space-between;
		position: relative;
		height: 85px;
		padding: 0 30px;
		/*overflow: hidden;*/
		z-index: 550;
		margin-bottom: 0;
	}
	.main-nav {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		list-style: none;
		margin: 0;
		padding: 0;
	}
	.main-nav > li.active > a {
		color: #09dca4;
	}
	.main-nav > li .submenu li a {
		display: block;
		padding: 10px 15px;
		clear: both;
		white-space: nowrap;
		font-size: 14px;
		color: #2d3b48;
		-webkit-transition: all .35s ease;
		transition: all .35s ease;
		width: 100%;
		border-top: 1px solid #f0f0f0;
	}
	.main-nav > li .submenu > li.has-submenu > a::after {
		content: "\f054";
		font-family: "Font Awesome 5 Free";
		font-weight: 900;
		position: absolute;
		right: 15px;
		top: 12px;
		font-size: 13px;
	}
	.main-nav > li .submenu li {
		position: relative;
	}
	.main-nav li a {
		display: block;
		font-size: 14px;
		font-weight: 500;
	}
	.main-nav li.login-link {
		display: none;
	}
	.logo {
		display: inline-block;
		margin-right: 30px;
		width: 160px;
	}
	.header-contact-img {
		display: inline-block;
	}
	.header-contact-img i {
		color: rgba(0, 0, 0, 0.5);
		font-size: 30px;
	}
	.header-contact-detail {
		display: inline-block;
		padding-left: 10px;
	}
	.header-contact-detail p.contact-header {
		color: #484848;
		font-size: 13px;
		font-weight: 400;
		margin-bottom: 2px;
		text-align: left;
	}
	.header-contact-detail p.contact-info-header {
		color: #000;
		font-weight: 500;
		font-size: 14px;
		margin-bottom: 0;
	}
	.header-navbar-rht {
		margin: 0;
		margin-left: auto;
		padding: 0;
	}
	.header-navbar-rht li {
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
		display: -webkit-inline-box;
		display: -ms-inline-flexbox;
		display: inline-flex;
		padding-right: 20px;
		justify-content: center;
		-webkit-justify-content: center;
		-ms-flex-pack: center;
	}
	.header-navbar-rht li:last-child {
		padding-right:0px;
	}
	.header-navbar-rht li .dropdown-menu {
		border: 0;
		box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
	}
	.header-navbar-rht .dropdown-toggle::after {
		display: none;
	}
	.header-navbar-rht li .dropdown-menu::before {
		content: "";
		position: absolute;
		top: 2px;
		right: 0;
		border: 7px solid #fff;
		border-color: transparent transparent #ffffff #ffffff;
		-webkit-transform-origin: 0 0;
		transform-origin: 0 0;
		-webkit-transform: rotate(135deg);
		transform: rotate(135deg);
		box-shadow: -2px 2px 2px -1px rgba(0, 0, 0, 0.1);
	}
	.header-navbar-rht li .dropdown-menu .dropdown-item {
		border-top: 1px solid #f0f0f0;
		padding: 10px 15px;
	}
	.header-navbar-rht li .dropdown-menu .dropdown-item:first-child {
		border-top: 0;
		border-radius: 5px 5px 0 0;
	}
	.header-navbar-rht li .dropdown-menu .dropdown-item:last-child {
		border-radius: 0 0 5px 5px;
	}
	.header-navbar-rht li a.header-login:hover {
		background-color: #09e5ab;
		border-color: #09e5ab;
		color: #fff;
	}
	.header-navbar-rht li .dropdown-menu a:hover {
		color: #09dca4;
		letter-spacing: 0.5px;
		padding-left: 20px;
		background-color: #fff;
	}
	.header-navbar-rht li a.header-login {
		border: 2px solid #09e5ab;
		border-radius: 4px;
		padding: 10px 15px !important;
		text-align: center;
		font-size: 15px;
		color: #09e5ab;
		text-transform: uppercase;
		font-weight: 500;
	}
	.header .has-arrow .dropdown-toggle:after {
		border-top: 0;
		border-left: 0;
		border-bottom: 2px solid #757575;
		border-right: 2px solid #757575;
		content: '';
		height: 8px;
		display: inline-block;
		pointer-events: none;
		-webkit-transform-origin: 66% 66%;
		-ms-transform-origin: 66% 66%;
		transform-origin: 66% 66%;
		-webkit-transform: rotate(45deg);
		-ms-transform: rotate(45deg);
		transform: rotate(45deg);
		-webkit-transition: all 0.15s ease-in-out;
		transition: all 0.15s ease-in-out;
		width: 8px;
		vertical-align: 2px;
		margin-left: 10px;
	}
	.header .has-arrow .dropdown-toggle[aria-expanded="true"]:after {
		-webkit-transform: rotate(-135deg);
		-ms-transform: rotate(-135deg);
		transform: rotate(-135deg);
	}
	.user-menu {
		float: right;
		margin: 0;
		position: relative;
		z-index: 949;
	}
	.user-menu.nav > li > a {
		color: #fff;
		font-size: 14px;
		line-height: 58px;
		padding: 0 15px;
		height: 60px;
	}
	.user-menu.nav > li > a:hover,
	.user-menu.nav > li > a:focus {
		background-color: rgba(0, 0, 0, 0.2);
	}
	.user-menu.nav > li > a:hover i,
	.user-menu.nav > li > a:focus i {
		color: #fff;
	}
	.user-img {
		display: inline-block;
		position: relative;
	}
	.user-img > img {
		height: 31px;
		object-fit: cover;
		width: 31px;
	}
	.user-menu.nav > li > a.mobile_btn {
		border: 0;
		position: relative;
		padding: 0;
		margin: 0;
		cursor: pointer
	}
	.header-navbar-rht .dropdown-menu {
		min-width: 200px;
		padding: 0;
	}
	.header-navbar-rht .dropdown-menu .dropdown-item {
		padding: 7px 15px;
	}
	.header-navbar-rht .dropdown-menu .dropdown-item {
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		border-top: 1px solid #e3e3e3;
		padding: 10px 15px;
	}
	.header-navbar-rht .dropdown-menu .dropdown-item:hover {
		color: #09dca4;
	}
	.user-header {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		padding: 10px 15px;
	}
	.user-header .user-text {
		margin-left: 10px;
	}
	.user-header .user-text h6 {
		font-size: 15px;
		margin-bottom: 2px;
	}
	.header-navbar-rht .logged-item .nav-link {
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
		display: -webkit-inline-box;
		display: -ms-inline-flexbox;
		display: inline-flex;
		font-size: 14px;
		line-height: 85px;
		padding: 0 10px;
	}

/*-----------------
	12. Mobile Menu
	-----------------------*/

	.sidebar-overlay {
		background-color: rgba(0, 0, 0, 0.6);
		display: none;
		height: 100%;
		left: 0;
		position: fixed;
		top: 0;
		width: 100%;
		z-index: 1040;
	}
	.menu-opened .main-menu-wrapper {
		transform: translateX(0);
	}
	.menu-header {
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
		background-color: #fff;
		height: 60px;
		padding:  0 20px;
		justify-content: space-between;
		-webkit-justify-content: space-between;
		-ms-flex-pack: space-between;
		border-bottom: 1px solid #f0f0f0;
		display: block;
	}
	.menu-logo img {
		margin-top: 10px;
		height: 40px;
	}
	.menu-close {
		font-size: 18px;
		top: 20px;
		right: 20px;
		position: absolute;
	}
	.bar-icon {
		display: inline-block;
		width: 31px;
	}
	.bar-icon span {
		background-color: #0de0fe;
		display: block;
		float: left;
		height: 3px;
		margin-bottom: 7px;
		width: 31px;
		border-radius: 2px;
	}
	.bar-icon span:nth-child(2) {
		width: 16px;
	}
	.bar-icon span:nth-child(3) {
		margin-bottom: 0;
	}
	#mobile_btn {
		display: block;
		margin-right: 30px;
	}
	html.menu-opened body {
		overflow: hidden;
	}

/*-----------------
	13. Footer
	-----------------------*/

	.footer {
		background-color: #15558d;
	}
	.footer .footer-top {
		padding: 40px 0;
	}
	.footer-title {
		color: #fff;
		font-size: 20px;
		font-weight: 700;
		margin-bottom: 30px;
		text-transform: capitalize;
	}
	.footer .footer-widget.footer-menu ul {
		list-style: none;
		margin: 0;
		padding: 0;
		outline: none;
	}
	.footer .footer-widget .footer-logo {
		margin-bottom: 30px;
	}
	.footer .footer-widget .footer-about-content p {
		color: #fff;
	}
	.footer .footer-widget .footer-about-content p:last-child {
		margin-bottom: 0;
	}
	.footer .footer-menu ul li {
		margin-bottom: 10px;
		position: relative;
	}
	.footer .footer-menu ul li:last-child {
		margin-bottom: 0;
	}
	.footer .footer-menu ul li a {
		color: #fff;
		font-size: 15px;
		transition: all 0.4s ease 0s;
	}
	.footer .footer-menu ul li a i {
		margin-right: 5px;
	}
	.footer .footer-widget.footer-menu ul li a:hover {
		color: #fff;
		letter-spacing: 0.5px;
		padding-left: 10px;
	}
	.footer-contact-info {
		color: #fff;
		font-size: 15px;
	}
	.footer-contact-info .footer-address {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
	}
	.footer-contact-info .footer-address span {
		margin-right: 20px;
	}
	.footer-contact-info .footer-address span i.fa-map-marker-alt {
		font-size: 20px;
	}
	.footer-contact-info p i {
		margin-right: 15px;
	}
	.footer .footer-bottom .copyright {
		border-top: 1px solid #1663a6;
		padding: 30px 0;
	}
	.footer .footer-bottom .copyright-text p {
		color: #fff;
		font-size: 15px;
	}
	.footer .footer-bottom .copyright-text p a {
		color: #09e5ab;
		-webkit-transition: all 0.4s ease 0s;
		-o-transition: all 0.4s ease 0s;
		transition: all 0.4s ease 0s;
	}
	.footer .footer-bottom .copyright-text p a:hover {
		color: #fff;
	}
	.footer .footer-bottom .copyright-text p.title {
		font-weight: 400;
		margin: 10px 0 0;
	}
	.footer .social-icon ul {
		display: -webkit-inline-box;
		display: -ms-inline-flexbox;
		display: inline-flex;
		list-style: none;
		padding: 0;
		margin: 0;
	}
	.footer .social-icon ul li {
		margin-right: 15px;
	}
	.footer .social-icon ul li:last-child {
		margin-right: 0;
	}
	.footer .social-icon ul li a {	
		color: #fff;
		display: -webkit-inline-box;
		display: -ms-inline-flexbox;
		display: inline-flex;
		font-size: 20px;
		transition: all 0.4s ease 0s;
	}
	.footer .social-icon ul li a:hover {
		color: #09e5ab;
	}
	.policy-menu {
		font-size: 14px;
		margin: 0;
		padding: 0;
		text-align: right;
	}
	.policy-menu li {
		display: inline-block;
		margin-right: 15px;
	}
	.policy-menu li:last-child {
		margin-right: 0;
	}
	.policy-menu li a {
		color: #fff;
	}
	.policy-menu li a:hover, .policy-menu li a:focus {
		color: #09e5ab;
	}
	.policy-menu li::after {
		color: #fff;
		content: "|";
		font-weight: 300;
		position: relative;
		left: 10px;
	}
	.policy-menu li:last-child::after {
		content: "";
	}


/*========================================

HOMEPAGE

==========================================*/
.home-banner{
	background-image: url('../img/ss.png');
	background-repeat: no-repeat;
	background-size: contain;
	margin-bottom: 5%;
}
.home-banner .row .col-md-7{
	background: url('../img/covid.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center right;
	width: 100%;
}
.home-banner .row .col-md-5{
	text-align: center;
	padding: 5% 5px;
}
.home-banner .row .col-md-5 h1{
	font-size: 50px;
	padding-top: 10%;
}
.home-banner .row .col-md-5 h4{
	text-align: center;
	padding: 10px 10%;
}
.deep-box-shadow{
	box-shadow: 15px 25.981px 60px 0px rgba(1, 1, 64, 0.14);
}
.home-banner .row .col-md-5 button{
	background-color: #0800ad;
	color: #fff;
	margin-top: 5%;
	border-radius: 50px;
	padding: 8px 20px;
	transition: .5s;
	/*margin-right: 10px;*/
}
.home-banner .row .col-md-5 button:hover{
	background-color: #fff;
	color: #0800ad;
	box-shadow: 0 10px 30px rgba(0,0,0,.3);
	border: 1px solid #0800ad;
}
.home-banner .row .col-md-5 button:last-child{
	background-color: transparent;
	border: 1px solid #0800ad;
	
}
.home-banner .row .col-md-5 button:last-child a{
	color: #0800ad;
}
.home-banner .row .col-md-5 button:last-child:hover{
	background-color: #0800ad;
	box-shadow: 0 10px 30px rgba(0,0,0,.3);
	/*box-shadow: 15px 25.981px 60px 0px rgba(1, 1, 64, 0.14);*/
}
.home-banner .row .col-md-5 button:last-child:hover a{
color: #fff;
}


/*================= HOME SEARCH =============*/
.how-it-works{
	margin-top: 15%;
	margin-bottom: 5%;
}
section{
	position: relative;
}
.sec-title h1{
	padding-bottom: 5%;
}
.sec-title h1::before{
	content: '';
	position: absolute;
	bottom: -55px;
	left: 4%;
	width: 76px;
	height: 6px;
	border-radius: 10px;
	background-color: #0800ad;
}
.sec-title h1::after{
	content: '';
	position: absolute;
	bottom:-55px;
	left: 30.5%;
	width: 20px;
	height: 6px;
	border-radius: 10px;
	background-color: #6836ff;
}
.how-it-works .row .col-md-4{
	text-align: center;
	margin-bottom: 30px;
}
.how-it-works .row .col-md-4 .how-it-works-item{
	height: 60vh;
	transition: 0s;
	padding: 13% 10px;
	border-radius: 10px;
	/*background-color: deepskyblue;*/
	box-shadow: 15px 25.981px 60px 0px rgba(1, 1, 64, 0.14);
	/*background: url('../img/bg-shape2.png');*/
}
.how-it-works .row .col-md-4 .how-it-works-item:hover{
	background: url('../img/bg-shape2.png');
	color: #fff;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	height: 60vh;
	border-radius: 10px;
	transform: translateY(0px);
}
.how-it-works .row .col-md-4 .how-it-works-item:hover h3{
	color: #fff;
}
.how-it-works .row .col-md-4 .how-it-works-item h3{
	color: #000;
	font-size: 25px;
	transition: .5s;
	font-weight: medium;
	padding-top: 15px;
}
.how-it-works .row .col-md-4 .how-it-works-item p{
	padding:10px 10%;
	color:#000;
	font-size: 18px;
}
.how-it-works .row .col-md-4 .how-it-works-item:hover p{
	color:#fff;
}
.how-it-works .row .col-md-4 .how-it-works-item .fa-arrow-right{
	color: #fff;
	line-height: 24px;
	height: 50px;
	width: 50px;
	padding: 16px;
	border-radius: 50%;
	font-size: 10px;
	position: absolute;
	bottom: -6%;
	left: 40%;
	background-color: #0800ad;
	transition: 1.5s;
}
.how-it-works .row .col-md-4 .how-it-works-item:hover .fa-arrow-right{
	background: url('../img/bg-shape2.png');
	background-size: contain;
	background-position: center;
}
.dept-specialty{
	margin-bottom: 5%;
}

.specialities-slider .slick-slide {
	display: block;
	padding: 0 12px;
	margin-left: 0;
	margin-right: 20px;
	margin-top: 10px;
}
.specialities-slider .slick-dots {
	margin-top: 44px;
	position: unset;
}
.speicality-img {
	position: relative;
	height: 150px;
	box-shadow: 2px 2px 13px rgba(0, 0, 0, 0.1);
	border-radius: 100%;
	width: 150px;
	background: #fff;
}
.speicality-img img {
	position: absolute;
	top: 50%;
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
	left: 0;
	right: 0;
	margin: 0 auto;
}
.speicality-img span {
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	position: absolute;
	bottom: 10px;
	right: 10px;
	box-shadow: 1px 6px 14px rgba(0,0,0,0.2);
	border-radius: 50%;
	padding: 5px;
	background-color: #fff;
	display: -webkit-inline-box;
	display: -ms-inline-flexbox;
	display: inline-flex;
	justify-content: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
}
.speicality-img span .fa-circle {
	font-size: 15px;
	color:#0800ad;
}
.speicality-item p {
	font-size: 16px;
	font-weight: 500;
	margin: 30px 0 0;
}
.slick-dots {
	position: absolute;
	bottom: -25px;
	display: block;
	width: 100%;
	padding: 0;
	margin: 0;
	list-style: none;
	text-align: center;
}
.slick-dots li {
	position: relative;
	display: inline-block;
	width: 20px;
	height: 5px;
	margin: 0 5px;
	padding: 0;
	cursor: pointer;
}
.slick-dots li button {
	font-size: 0;
	line-height: 0;
	display: block;
	width: 20px;
	height: 5px;
	padding: 0;
	cursor: pointer;
	color: transparent;
	border: 0;
	outline: none;
	background: #C0C0C0;
}
.slick-dots li button:hover,
.slick-dots li button:focus {
	outline: none;
}
.slick-dots li button:hover:before,
.slick-dots li button:focus:before {
	opacity: 1;
}
.slick-dots li button:before {
	display: none;
	font-family: 'slick';
	font-size: 76px;
	line-height: 20px;
	position: absolute;
	top: 0;
	left: 0;
	width: 20px;
	height: 20px;
	content: '-';
	text-align: center;
	opacity: .25;
	color: black;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
.slick-dots li.slick-active button {
	background-color: #0800ad;
}
.slick-dots li.slick-active button:before {
	opacity: 1;
	color: #0de0fe;
}
.slick-slide {
	outline: none !important;
}
.specialities-slider .slick-slide {
	display: block;
	padding: 0 12px;
	margin-left: 0;
	margin-right: 20px;
	margin-top: 10px;
}
.specialities-slider .slick-dots {
	margin-top: 44px;
	position: unset;
}

.find-doctor{
	margin: 0;
	margin-bottom: 5%;
	padding: 0;
	/*height: 100vh;*/
	background: url('../img/bg-banner.jpg');
	/*background: url(../img/home-banner.jpg);*/
	background-repeat: no-repeat;
	/*background-position: right;*/
	background-size: cover;
}
.find-doctor::after{
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	/*background:rgba(0,0,0,.8);*/
	background:rgba(8, 0, 173, .5);
}
.find-doctor #wave-img{
	transform: rotate(180deg);
	width: 100%;
	margin: 0;
	position: relative;
	z-index: 10;
	top: -3px;
}
.find-doctor .find-doctor-desc{
	position: relative;
	z-index: 10;
}
.find-doctor .find-doctor-desc .col-md-4{
	color: #fff;
	padding:5% 5%;
}
.find-doctor .find-doctor-desc .col-md-8{
	/*color: #fff;*/
	padding:5% 3%;
}
.find-doctor .find-doctor-desc .col-md-4 h1{
	color: #fff;
}





.doctor-slider{
	margin: 10px;
	padding: 0;
}
.doctor-slider .slick-slide{
	margin: 10px !important;
}
.profile-widget {
	background-color: #fff;
	border: 1px solid #f0f0f0;
	border-radius:4px;
	margin-bottom:30px;
	position:relative;
	-webkit-transition:all .3s ease 0s;
	-moz-transition:all .3s ease 0s;
	-o-transition:all .3s ease 0s;
	transition:all .3s ease 0s;
	padding: 15px;
	width: 100%;
}
.doc-img {
	position: relative;
	overflow: hidden;
	z-index: 1;
	border-radius: 4px;
	width: 100%;
}
.doc-img img {
	border-radius: 4px;
	transform: translateZ(0);
	transition: all 2000ms cubic-bezier(.19,1,.22,1) 0ms;
	padding: 0;
	margin: 0;
	height: 100px;
	width: 295px;
	height: 200px;
}
.doc-img:hover img {
	-webkit-transform: scale(1.15);
	-moz-transform: scale(1.15);
	transform: scale(1.15);
}
.profile-widget .fav-btn {
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	position: absolute;
	top: 5px;
	right: 5px;
	background-color: #fff;
	width: 30px;
	height: 30px;
	display: -webkit-inline-box;
	display: -ms-inline-flexbox;
	display: inline-flex;
	justify-content: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	border-radius: 3px;
	color: #2E3842;
	-webkit-transform: translate3d(100%, 0, 0);
	-ms-transform: translate3d(100%, 0, 0);
	transform: translate3d(100%, 0, 0);
	opacity: 0;
	visibility: hidden;
	z-index: 99;
}
.profile-widget:hover .fav-btn {
	opacity: 1;
	visibility: visible;
	-webkit-transform: translate3d(0, 0, 0);
	-ms-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}
.profile-widget .fav-btn:hover {
	background-color: #fb1612;
	color: #fff;
}
.pro-content {
	padding: 15px 0 0;
}
.pro-content .title {
	font-size: 17px;
	font-weight: 500;
	margin-bottom: 5px;
}
.profile-widget .pro-content .title a {
	display: inline-block;
}
.profile-widget .verified {
	color: #28a745;
	margin-left: 3px;
}
.profile-widget p.speciality {
	font-size: 13px;
	color: #757575;
	margin-bottom: 5px;
	min-height: 40px;
}
.rating {
	list-style: none;
	margin: 0 0 7px;
	padding: 0;
	width: 100%;
}
.rating i {
	color: #dedfe0;
}
.rating i.filled {
	color: #f4c150;
}
.profile-widget .rating {
	color: #757575;
	font-size: 14px;
	margin-bottom: 15px;
}
.profile-widget .rating i {
	font-size: 14px;
}
.available-info {
	font-size: 13px;
	color: #757575;
	font-weight: 400;
	list-style: none;
	padding: 0;
	margin-bottom: 15px;
}
.available-info li + li {
	margin-top: 5px;
}
.available-info li i {
	width: 22px;
}
.row.row-sm {
	margin-left: -3px;
	margin-right: -3px;
}
.row.row-sm > div {
	padding-left: 3px;
	padding-right: 3px;
}
.view-btn {
	color: #0800ad;
	font-size: 13px;
	border: 2px solid #0800ad;
	text-align: center;
	display: block;
	font-weight: 500;
	padding: 6px;
}
.view-btn:hover, .view-btn:focus {
	background-color: #0800ad;
	color: #fff;
	border-color: #0800ad;
}
.book-btn {
	background-color: #0800ad;
	border: 2px solid #0800ad;
	color: #fff;
	font-size: 13px;
	text-align: center;
	display: block;
	font-weight: 500;
	padding: 6px;
}
.book-btn:hover, .book-btn:focus {
	background-color: #fff;
	border-color: #0800ad;
	color: #0800ad;
}
.section-doctor .profile-widget {
	box-shadow: 2px 2px 13px rgba(0, 0, 0, 0.1);
	margin-bottom: 0;
}
.slick-prev{
	font-size: 0;
	line-height: 0;
	position: absolute;
	top: 50%;
	display: block;
	width: 40px;
	height: 40px;
	padding: 0;
	transform: translate(-55%, -50%);
	box-shadow: 1px 6px 14px rgba(0,0,0,0.2);
	background: #fff;
	border-radius: 100%;
	cursor: pointer;
	border: none;
	outline: none;
	background: #fff;
}
.slick-prev:hover, .slick-next:hover{
	background: url('../img/bg-shape2.png');
	background-position: center;
	background-size: contain;
}





/*========================= FIND DOCTORS PAGE=================*/
.find-doctor-stats{
	margin:0;
	margin-bottom: 3%;
	margin-top: 10px;
	background: #0800ad;
	padding: 2% 20px;
	box-shadow: 1px 6px 14px rgba(0,0,0,0.2);
}
.find-doctor-stats h1{
	color: #fff;
}
.row .col-md-3 .find-doctor-sidebar{
	border-radius: 3px;
	border: 1px solid #ccc;
}
.row .col-md-3 .find-doctor-sidebar .find-doctor-sidebar-content{
	padding: 10px 10px;
}
.row .col-md-3 .find-doctor-sidebar h3:nth-child(1){
	border-bottom: 1px solid #ccc;
	padding: 15px 4%;
}
.row .col-md-3 .find-doctor-sidebar h4{
	font-size: 20px;
	padding-bottom: 10px;
	padding-top: 5%;
}
.row .col-md-3 .find-doctor-sidebar .find-doctor-sidebar-content input{
	width: 100%;
	padding: 10px 15px;
	margin-bottom: 5%;
	border: 1px solid #ccc;
}
.row .col-md-3 .find-doctor-sidebar .find-doctor-sidebar-content button{
	background-color: #0800ad;
	color: #fff;
	width: 100%;
	border: 1px solid #0800ad;
	transition: .5s;
	margin-top: 10px;
}
.row .col-md-3 .find-doctor-sidebar .find-doctor-sidebar-content button:hover{
	background: #fff;
	border-color: #0800ad;
	color: #0800ad;
	box-shadow: 1px 6px 14px rgba(0,0,0,0.2);	
}
.find-doctor-card-section .row .col-md-8 div:first-child{
	display: inline-flex;

}
.find-doctor-card-section .row .col-md-8 div figure img{
	width: 200px;
	height: 150px;
	border-radius: 5px;
	margin-right: 20px;
	width: 150px;
}
.find-doctor-card-section .row{
	box-shadow: 1px 6px 30px rgba(0,0,0,0.2);
	padding: 30px 5px;
	border-radius: 5px;
	margin-bottom: 5%;
}
.find-doctor-card-section .row .col-md-8 div:first-child h4{
	margin-top: 10px;
}
.find-doctor-card-section .row .doctor-icon{
	color: #0800ad;
	margin-right: 10px;
}
.find-doctor-card-section .row .col-md-8 div:first-child p:last-child{
	font-size: 15px;
	margin-top: -10px;
}
}
.find-doctor-card-section .row .col-md-8 div:first-child p{
	font-size: 15px;
}
.find-doctor-card-section .row button{
	width: 90%;
	padding: 15px;
	font-weight: 450;
	color: #0800ad;
	margin-bottom: 10px;
	border: 1px solid #0800ad;
}
.find-doctor-card-section .row button a{
	color: #0800ad;
}

.find-doctor-card-section .row button:hover{
	background: #0800ad;
	color: #fff;
	box-shadow: 1px 6px 30px rgba(0,0,0,0.2);
}
.find-doctor-card-section .row button:hover a{
	color: #fff;
}
.find-doctor-card-section .row button:last-child:hover{
	background: #fff !important;
	box-shadow: 1px 6px 30px rgba(0,0,0,0.2);
}
.find-doctor-card-section .row button:last-child:hover a{
color: #0800ad;
}
.find-doctor-card-section .row button:last-child{
	background: #0800ad;
}
.find-doctor-card-section .row button:last-child a{
color: #fff;
}

.find-doctor-card-section button:last-child{
	background: #0800ad;
	color: #fff;
}





/*======================== DOCTOR DETAIL PAGE ===================*/
.doctor-details{
	margin-top: 3%;
	margin-bottom: 5%;
}
.doctor-detail-stats img{
	width: 100px;
	height: 100px;
	margin-top: 10%;
	border-radius: 50%;
	margin-right: 10px;
	clear: both;

}
.doctor-detail-stats{
	background-color: #fff;
	padding: 30px 5%;
	text-align: center;
	/*height: %;*/
	border-radius: 5px;
	/*box-shadow: 1px 6px 16px rgba(0,0,0,0.2);*/
}
.doctor-detail-stats div{
	float: right;
	text-align: left;
}
.doctor-detail-stats .doctor-icon{
	color: #0800ad;
	margin-right: 10px;
}
.doctor-detail-stats p:first-child{
	margin-bottom: 0px !important;
	padding-top: 5%;
	padding-bottom: 10%;
	font-size: 18px;
}
.doctor-detail-stats button{
	background-color: #0800ad;
	color: #fff;
	margin-top: 20px;
}
.user-tabs .nav-tabs > li > a {
	border: 0;
	border-bottom: 3px solid transparent;
	color: #000;
	font-weight: 600;
	padding: 20px;
}
.user-tabs .nav-tabs.nav-tabs-bottom > li > a.active, 
.user-tabs .nav-tabs.nav-tabs-bottom > li > a.active:hover, 
.user-tabs .nav-tabs.nav-tabs-bottom > li > a.active:focus {
	border-bottom-width: 3px;
	color: #0800ad;
}
.user-tabs .med-records {
	display: inline-block;
	min-width: 130px;
}
.user-tabs .nav-tabs > li > a:hover {
	background-color: unset;
	color: #0800ad;
}



/* ========================== AUTH PAGES ===================*/
.auth-body{
	background: url(../img/bg-banner.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
	height: 100vh;
	padding:10px;
}
.auth-body::after{
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	height: 100vh !important;
	right: 0;
	bottom: 0;
	background: rgba(8, 0, 173, .5);
}
.form-container{
	padding: 10px;
	overflow: hidden;
	z-index: 9;
	position: relative;
	width: 100%; 
	height: 470px;
	transform: translate(0px, -5px);
	background: #fff;
	border-radius: 10px;
	box-shadow: 0 50px 50px rgba(0,0,0,.1);
}
.form-container .user{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
}
.form-container .user .imgBx{
	position: relative;
	width: 50%;
	height: 100%;
	background: #fff;
	transition: .5s;
}
.form-container .user .imgBx img{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.form-container .user .formBx{
	position: relative;
	width: 50%;
	height: 100%;
	background: #fff;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 40px;
	transition: .5s;
}
.form-container .user .formBx form h2{
	font-size: 18px;
	font-weight: 600;
	text-transform: uppercase;
	letter-spacing: 2px;
	text-align: center;
	width: 100%;
	margin-bottom: 10px;
	color: #555;
}
.form-container .user .formBx form input{
	position: relative;
	width: 100%;
	padding: 10px;
	background: #f5f5f5;
	color: #333;
	border: none;
	outline: none;
	box-shadow: none;
	margin: 8px 0;
	font-size: 14px;
	letter-spacing: 1px;
	font-weight: 300;
}
.form-container .user .formBx form input[type="submit"]{
	max-width: 100px;
	background: #0800ad;
	color: #fff;
	cursor: pointer;
	font-size: 14px;
	font-weight: 500;
	letter-spacing: 1px;
	transition: .5s;
} 
.form-container .user .formBx form .signup{
	position: relative;
	margin-top: 20px;
	font-size: 12px;
	letter-spacing: 1px;
	color: #555;
	text-transform: uppercase;
	font-weight: 300;
}
.form-container .user .formBx form .signup a{
	font-weight: 600;
	text-decoration: none; 
	color: #0800ad;
	cursor: pointer;
}

.form-container .singupBx{
	pointer-events: none;
}
.form-container.active .singupBx{
	pointer-events: initial !important;
}
.form-container .singupBx .formBx{
	left: 100%;
	z-index: 59695;
	pointer-events: initial;
}
.form-container.active .singupBx .formBx{
	left: 0;
}
.form-container .singupBx .imgBx{
	left: -100%;
}
.form-container.active .singupBx .imgBx{
	left: 0%;
}

.form-container .singinBx .formBx{
	left: 0;
}
.form-container.active .singinBx .formBx{
	left: 100%;
}
.form-container .singinBx .imgBx{
	left: 0%;
}
.form-container.active .singinBx .imgBx{
	left: -100%;
}



/*=============================== DOCTOR ADMIN PAGES ==========================*/
#message-sidebar span{
	float: right;
	margin-right: 10px;
}
.doctor-page-body{
	padding: 3% 5%;
}
.doctor-page-body .row .col-md-3{
	background: #fff;
	padding:0;
	border: 1px solid #f0f0f0;
	border-radius: 5px;
}


/*=============== DOCTOR SIDEBAR =================*/
.doctor-page-body .row .col-md-3 .sidebar-stats{
	border-bottom: 1px solid #f0f0f0;
	padding:20px 15px;
	margin: 0;
}
.doctor-page-body .row .col-md-3 .sidebar-stats img{
	border-radius: 50%;
	width:130px;
	height: 130px;
}
.doctor-page-body .row .col-md-3 .sidebar-nav p:first-child{
	padding-top: 10px;
}
.doctor-page-body .row .col-md-3 .sidebar-nav p{
	margin:0;
	padding: 10px 5%;
	border-bottom: 1px solid #f0f0f0;
}
.doctor-page-body .row .col-md-3 .sidebar-nav p:hover{
	background: #0800ad;
}
.doctor-page-body .row .col-md-3 .sidebar-nav p:hover a{
	color: #fff !important;
}
.doctor-page-body .row .col-md-3 .sidebar-nav p .sidebar-icon{
	margin-right: 10px;
	/*font-size: 14px;*/
}
.doctor-page-body .row .col-md-9 .bg-white{
	padding: 3% 5%;
	border-radius: 5px;
}
.doctor-page-body .row .col-md-9 .doctor-home-stats .col-md-4{
	border: none;
}
.doctor-page-body .row .col-md-9 .doctor-home-stats .col-md-4 div{
	background-color: #0800ad;
	margin:10px;
	padding: 10px;
	border-radius: 5px;
}
.doctor-page-body .row .col-md-9 .doctor-home-stats .col-md-4 div .fa-3x{
	position: absolute;
	bottom: 15%;
	opacity: .5;
	color: #fff;
	right: 15%;
}



/*====================== DOCTOR DASHBOARD PAGE ==================*/
.doctor-page-body .row .col-md-9 h3{
	margin-top: 5%;
	margin-bottom: 2%;
}
.doctor-page-body .row .col-md-9 .doctor-home-stats .col-md-4 div h5,
.doctor-page-body .row .col-md-9 .doctor-home-stats .col-md-4 div h2 {
	color: #fff;
}
.nav-pills .nav-item .nav-link{
	background: #fff;
	color: #0800ad;
	border: 1px solid #0800ad;
	margin-right: 10px;
}
.nav-pills .nav-item .nav-link.active{
	background: #0800ad;
	color: #fff;
}
.nav-pills .nav-item .doc_outbox{
	background-color: #0800ad;
	color: #fff;
}
.message-widget .tab-content #doc_inbox .row,
.message-widget .tab-content #doc_outbox .row{
	border-bottom: 1px solid #f0f0f0;
	padding-top: 10px;
}
.message-widget .tab-content #doc_inbox .row .col-md-3,
.message-widget .tab-content #doc_outbox .row .col-md-3{
	border: none;
}
.message-widget .tab-content #doc_inbox .row .col-md-3 p,
.message-widget .tab-content #doc_outbox .row .col-md-3 p{
	border-radius: 50px;
	text-align: center;
	background-color: #0800ad;
	color: #fff;
	padding: 5px 40px;
}
.message-widget .tab-content #doc_inbox .row p,
.message-widget .tab-content #doc_outbox .row p{
	padding-top: 5px;
	padding-bottom: 5px;
}
.message-widget button{
	margin-top: 5%;
}





/*======================= DATATABLES ===================*/
.dt-buttons{
	padding: 2% 3%;
}
.dt-button{
	background: #0800ad;
	color: #fff;
	padding: 7px 20px;
	border-radius: 50px;
}
.dt-button:hover{
	color: #fff;
}
.dataTables_filter{
	margin-top: -40px;
	border:none;
	box-shadow: none;
	margin-right: 10px;
}
.dataTables_info{
	padding: 10px;
}
#DataTables_Table_0_paginate{
	padding: 20px;
	margin-top: -40px;
}
.page-item.active .page-link{
	background: #0800ad !important;
}
.table-responsive td small{
	font-size: 12px;
	padding-left: 10px;
}


/*===================== DOCTOR CLIENTS PAGE ===================*/
.doctor-client-section .row .col-md-4{
	margin-bottom: 5%;
}
.doctor-client-section .row .col-md-4 .card figure{
	padding: 5% 10px;
}
.doctor-client-section .row .col-md-4 .card img{
	width: 90px;
	height: 90px;
	border-radius: 50%;
}
.doctor-client-section .row .col-md-4 .card .card-body{
	padding:0;
	margin-bottom: -10px;
}
.doctor-client-section .row .col-md-4 .card .card-body .client-cred-primary{
	text-align: center;
	margin-top: -10px;
}
.doctor-client-section .row .col-md-4 .card .card-body ul{
	list-style: none;
	padding: 0;
	padding: 10px;
	font-size: 16px;
}
.doctor-client-section .row .col-md-4 .card .card-body ul li span{
	float: right;
}
.doctor-client-section .row .col-md-4 .card .card-body ul li{
	padding: 2px 0;
}




/*=============== DOCTORS EDIT PROFILE PAGE============== */
.edit-profile-div{
	margin-top: 5%;
	background-color: #fff;
	padding: 20px;
	border-radius: 5px;
}
.basic-info h4{
	margin-bottom: 2%;
}
.basic-info figure img{
	width: 100px;
	border-radius: 5px;
	height: 100px;

}
.basic-info figure{
	display: inline-flex;
}
.basic-info figure .upload-img{
	padding-top: 6.5%;
	margin-left: 10px;
	text-align: left;
}
.change-photo-btn {
    background-color: #0800ad;
    border-radius: 50px;
    color: #fff;
    cursor: pointer;
    display: block;
    font-size: 13px;
    font-weight: 600;
    margin: 0 auto;
    padding: 10px 15px;
    position: relative;
    transition: .3s;
    text-align: center;
    width: auto;
}
.change-photo-btn input.upload {
	bottom: 0;
    cursor: pointer;
    filter: alpha(opacity=0);
	left: 0;
    margin: 0;
    opacity: 0;
    padding: 0;
    position: absolute;
    right: 0;
    top: 0;
	width: 220px;
}
.custom_price_field{
	display: none;
}
.profile-add-more-icon{
	color: #0800ad;
	font-weight: bolder;
}
.profile-education .col-md-3{
	border:none !important;
}
.profile-education .col-md-1, .profile-experience .col-md-1{
	padding-top: 3.8%;
}
.profile-experience, .profile-education{
	margin-top: 10px;
}
.bootstrap-tagsinput .tag{
	padding: 10px;
	background: #0800ad;
}
.basic-info .btn-custom{
	width: 50%;
	margin-top: 5%;
	padding: 10px;
}





/*============================ ADMIN RECEIPT ================*/
.receipt-client-column {
	display: inline-flex;
	border:none !important;
}
.receipt-client-column img{
	width: 50px;
	height: 50px;
	margin-right: 10px;
	border-radius: 50%;
}
.receipt-client-column p span{
	font-size: 13px;
	font-weight: bold;
}




/*============================ ADMIN SCHEDULE TIMING ================*/
.schedule-tabs .tab-pane ul{
	padding: 0;
	list-style: none;
	display: inline-flex;
}
.schedule-tabs .tab-pane ul li{
	background-color: #0800ad;
	margin-right: 10px;
	padding: 8px 14px;
	color: #fff;
	border-radius: 5px;
}
.schedule-tabs .tab-pane ul li .fa-times{
	font-weight: bolder;
	color: #fff;
	cursor: pointer;
	margin-left: 10px;
}

/*======================= ADMIN MAILBOX ===================*/
.message-nav {
	padding: 0 !important;
	margin:0;
}
.message-nav ul li{
	padding: 5px 15px;
	border-bottom: 1px solid #f0f0f0;
}
.message-nav ul li a.active{
	color: #0800ad;
	font-weight: bolder;
}
.message-row{
	/*margin: 0;*/
	margin-bottom: 5%;
	border-bottom: 1px solid #f0f0f0;
}
.message-row  .col-md-1,
.message-row  .col-md-2{
	margin: 0 !important;
	padding:0 !important;
}
.message-row  .col-md-9{
	padding: 4px;
}
.message-row  .col-md-2{
	font-weight: bolder;
}



.experience-box {
	position: relative;
}
.experience-list {
	list-style: none;
	margin: 0;
	padding: 0;
	position: relative;
}
.experience-list::before {
	background: #0800ad;
	bottom: 0;
	content: "";
	left: 8px;
	position: absolute;
	top: 8px;
	width: 2px;
}
.experience-list > li {
	position: relative;
}
.experience-list > li:last-child .experience-content {
	margin-bottom: 0;
}
.experience-user .avatar {
	height: 32px;
	line-height: 32px;
	margin: 0;
	width: 32px;
}
.experience-list > li .experience-user {
	background: #fff;
	height: 10px;
	left: 3px;
	margin: 0;
	padding: 0;
	position: absolute;
	top: 4px;
	width: 10px;
}
.experience-list > li .experience-content {
	background-color: #fff;
	margin: 0 0 20px 40px;
	padding: 0;
	position: relative;
}
.experience-list > li .experience-content .timeline-content {
	color: #757575;
}
.experience-list > li .experience-content .timeline-content a.name {
	font-weight: 500;
}
.experience-list > li .time {
	color: #757575;
	display: block;
	font-size: 13px;
}
.before-circle {
    background-color: rgba(32, 192, 243, 0.2);
    border-radius: 50%;
    height: 12px;
    width: 12px;
    border: 2px solid #0800ad;
}
.exp-year {
    color: #20c0f3;
    margin-bottom: 2px;
}
.exp-title {
    font-size: 16px;
}


.index-specs{
	background-color: red;
	margin-bottom: 5%;
	/*padding: 19px;*/
}
.index-specs .col-md-4:nth-child(1){
	background-color: #0800ad;
	padding: 20px 5%;
}
.index-specs .index-specs-1{
	display: inline-flex;
}
.index-specs .index-specs-1 .fa-5x{
	color: #fff;
	margin-right: 10px;
}
.index-specs .index-specs-1 .index-specs-1-text{
	padding: 15% 10px;
	color:#fff;
}
.index-specs .index-specs-1 .index-specs-1-text h2{
	color: #fff;
}
.index-specs .col-md-4:nth-child(2){
	background: url('../img/img-01.jpg');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}