@font-face {
	font-family: 'Nunito Regular';
	font-style: normal;
	font-weight: normal;
	src: local('Nunito Regular'), url('../css/Nunito-Regular.woff') format('woff');
}
body{
	font-family: 'Nunito Regular';
	overflow-x: hidden !important;
}
h1, h2, h3, h4, h5, h6 {
	color: #272b41;
	font-weight: 500;
}

a {
	color: #2E3842;
}
a:hover {
	color: #0800ad;
}
a:hover,
a:active,
a:focus {
	outline: none;
	text-decoration: none;
}

input,
input:hover,
input:focus,
textarea {
	box-shadow: 0 0 0px 1000px white inset !important;
}
.alert-error{
	color: #fff;
	font-weight: bold;
	background: #28a745;
	display: none;
}
input,
button,
a {
	transition: all 0.4s ease;
}
button:focus {
	outline: 0;
}
input[type=text],
input[type=password] {
	appearance: none;
}
.btn.focus, .btn:focus {
	box-shadow: inherit;
}
.form-control {
	border-color: #dcdcdc;
	color: #333;
	font-size: 15px;
	min-height: 46px;
	padding: 6px 15px;
	box-shadow: none;
	resize: none;
}

.btn-custom{
	background: #0800ad;
	transition: .5s;
	border: 1px solid #0800ad;
	color: #fff;
}
.btn-custom:hover{
	background: #fff;
	color: #0800ad;
	box-shadow: 0 10px 30px 0 rgba(0,0,0,.2);
}

	.form-focus {
		height: 50px;
		position: relative;
	}
	.form-focus .focus-label {
		font-size: 14px;
		font-weight: 400;
		pointer-events: none;
		position: absolute;
		-webkit-transform: translate3d(0, 22px, 0) scale(1);
		-ms-transform: translate3d(0, 22px, 0) scale(1);
		-o-transform: translate3d(0, 22px, 0) scale(1);
		transform: translate3d(0, 22px, 0) scale(1);
		transform-origin: left top;
		transition: 240ms;
		left: 12px;
		top: -8px;
		z-index: 1;
		color: #b8b8b8;
		margin-bottom: 0;
	}
	.form-focus.focused .focus-label {
		opacity: 1;
		top: -18px;
		font-size: 12px;
		z-index: 1;
	}
	.form-focus .form-control:focus ~ .focus-label, 
	.form-focus .form-control:-webkit-autofill ~ .focus-label {
		opacity: 1;
		font-weight: 400;
		top: -18px;
		font-size: 12px;
		z-index: 1;
	}
	.form-focus .form-control {
		height: 50px;
		padding: 21px 12px 6px;
	}
	.form-focus .form-control::-webkit-input-placeholder {
		color: transparent;
		transition: 240ms;
	}
	.form-focus .form-control:focus::-webkit-input-placeholder {
		transition: none;
	}
	.form-focus.focused .form-control::-webkit-input-placeholder {
		color: #bbb;
	}
	.form-focus.select-focus .focus-label {
		opacity: 1;
		font-weight: 300;
		top: -20px;
		font-size: 12px;
		z-index: 1;
	}


/* ========================== AUTH PAGES ===================*/
.auth-body{
	background: url(../img/bg-banner.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
	height: 100vh;
	padding:10px;
}
.auth-body::after{
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	height: 100vh !important;
	right: 0;
	bottom: 0;
	background: rgba(8, 0, 173, .5);
}
.form-container{
	padding: 10px;
	overflow: hidden;
	z-index: 9;
	position: relative;
	width: 100%; 
	height: 470px;
	transform: translate(0px, -5px);
	background: #fff;
	border-radius: 10px;
	box-shadow: 0 50px 50px rgba(0,0,0,.1);
}
.form-container .user{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
}
.form-container .user .imgBx{
	position: relative;
	width: 50%;
	height: 100%;
	background: #fff;
	transition: .5s;
}
.form-container .user .imgBx img{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.form-container .user .formBx{
	position: relative;
	width: 50%;
	height: 100%;
	background: #fff;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 40px;
	transition: .5s;
}
.form-container .user .formBx form h2{
	font-size: 18px;
	font-weight: 600;
	text-transform: uppercase;
	letter-spacing: 2px;
	text-align: center;
	width: 100%;
	margin-bottom: 10px;
	color: #555;
}
.form-container .user .formBx form input{
	position: relative;
	width: 100%;
	padding: 10px;
	background: #f5f5f5;
	color: #333;
	border: none;
	outline: none;
	box-shadow: none;
	margin: 8px 0;
	font-size: 14px;
	letter-spacing: 1px;
	font-weight: 300;
}
.form-container .user .formBx form input[type="submit"]{
	max-width: 100px;
	background: #0800ad;
	color: #fff;
	cursor: pointer;
	font-size: 14px;
	font-weight: 500;
	letter-spacing: 1px;
	transition: .5s;
} 
.form-container .user .formBx form .signup{
	position: relative;
	margin-top: 20px;
	font-size: 12px;
	letter-spacing: 1px;
	color: #555;
	text-transform: uppercase;
	font-weight: 300;
}
.form-container .user .formBx form .signup a{
	font-weight: 600;
	text-decoration: none; 
	color: #0800ad;
	cursor: pointer;
}

.form-container .singupBx{
	pointer-events: none;
}
.form-container.active .singupBx{
	pointer-events: initial !important;
}
.form-container .singupBx .formBx{
	left: 100%;
	z-index: 59695;
	pointer-events: initial;
}
.form-container.active .singupBx .formBx{
	left: 0;
}
.form-container .singupBx .imgBx{
	left: -100%;
}
.form-container.active .singupBx .imgBx{
	left: 0%;
}

.form-container .singinBx .formBx{
	left: 0;
}
.form-container.active .singinBx .formBx{
	left: 100%;
}
.form-container .singinBx .imgBx{
	left: 0%;
}
.form-container.active .singinBx .imgBx{
	left: -100%;
}



/*=============================== DOCTOR ADMIN PAGES ==========================*/
#message-sidebar span{
	float: right;
	margin-right: 10px;
}
.doctor-page-body{
	padding: 3% 5%;
}
.doctor-page-body .row .col-md-3{
	background: #fff;
	padding:0;
	border: 1px solid #f0f0f0;
	border-radius: 5px;
}


/*=============== DOCTOR SIDEBAR =================*/
.doctor-page-body .row .col-md-3 .sidebar-stats{
	border-bottom: 1px solid #f0f0f0;
	padding:20px 15px;
	margin: 0;
}
.doctor-page-body .row .col-md-3 .sidebar-stats img{
	border-radius: 50%;
	width:130px;
	height: 130px;
}
.doctor-page-body .row .col-md-3 .sidebar-nav p:first-child{
	padding-top: 10px;
}
.doctor-page-body .row .col-md-3 .sidebar-nav p{
	margin:0;
	padding: 10px 5%;
	border-bottom: 1px solid #f0f0f0;
}
.doctor-page-body .row .col-md-3 .sidebar-nav p:hover{
	background: #0800ad;
}
.doctor-page-body .row .col-md-3 .sidebar-nav p:hover a{
	color: #fff !important;
}
.doctor-page-body .row .col-md-3 .sidebar-nav p .sidebar-icon{
	margin-right: 10px;
	/*font-size: 14px;*/
}
.doctor-page-body .row .col-md-3 .sidebar-nav p:last-child{
	display: none;
}
.doctor-page-body .row .col-md-9 .bg-white{
	padding: 3% 5%;
	border-radius: 5px;
}
.doctor-page-body .row .col-md-9 .doctor-home-stats .col-md-4{
	border: none;
}
.doctor-page-body .row .col-md-9 .doctor-home-stats .col-md-4 div{
	background-color: #0800ad;
	margin:10px;
	padding: 10px;
	border-radius: 5px;
}
.doctor-page-body .row .col-md-9 .doctor-home-stats .col-md-4 div .fa-3x{
	position: absolute;
	bottom: 15%;
	opacity: .5;
	color: #fff;
	right: 15%;
}
table tbody tr td button .fa-eye, table tbody tr td button .fa-edit{
	color: #fff;
}
table tbody tr td button .fa-eye:hover, table tbody tr td button .fa-edit:hover{
	color: #0800ad;
}
.update-records-form .col-md-3{
	border:none !important;
	margin: 4px;
}
small.badge{
	padding: 5px;
	font-size: 12px;
}

/*====================== DOCTOR DASHBOARD PAGE ==================*/
.doctor-page-body .row .col-md-9 h3{
	margin-top: 5%;
	margin-bottom: 2%;
}
.doctor-page-body .row .col-md-9 .doctor-home-stats .col-md-4 div h5,
.doctor-page-body .row .col-md-9 .doctor-home-stats .col-md-4 div h2 {
	color: #fff;
}
.nav-pills .nav-item .nav-link{
	background: #fff;
	color: #0800ad;
	border: 1px solid #0800ad;
	margin-right: 10px;
}
.nav-pills .nav-item .nav-link.active{
	background: #0800ad;
	color: #fff;
}
.nav-pills .nav-item .doc_outbox{
	background-color: #0800ad;
	color: #fff;
}
.message-widget .tab-content #doc_inbox .row,
.message-widget .tab-content #doc_outbox .row{
	border-bottom: 1px solid #f0f0f0;
	padding-top: 10px;
}
.message-widget .tab-content #doc_inbox .row .col-md-3,
.message-widget .tab-content #doc_outbox .row .col-md-3{
	border: none;
}
.message-widget .tab-content #doc_inbox .row .col-md-3 p,
.message-widget .tab-content #doc_outbox .row .col-md-3 p{
	border-radius: 50px;
	text-align: center;
	background-color: #0800ad;
	color: #fff;
	padding: 5px 40px;
}
.message-widget .tab-content #doc_inbox .row p,
.message-widget .tab-content #doc_outbox .row p{
	padding-top: 5px;
	padding-bottom: 5px;
}
.message-widget button{
	margin-top: 5%;
}




